@font-face {
  font-family: "iconfont"; /* Project id 4503123 */
  src: url('iconfont.woff2?t=1714805930204') format('woff2'),
       url('iconfont.woff?t=1714805930204') format('woff'),
       url('iconfont.ttf?t=1714805930204') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e60b";
}

.icon-clock:before {
  content: "\e616";
}

.icon-left-btn:before {
  content: "\e83d";
}

.icon-right-btn:before {
  content: "\e840";
}

.icon-xinyuanzhi-xuyuanping:before {
  content: "\e6d7";
}

.icon-zhishi:before {
  content: "\e813";
}

.icon-PC-:before {
  content: "\e614";
}

.icon-quanping:before {
  content: "\e657";
}

.icon-qiehuan:before {
  content: "\e789";
}

.icon-xiajiantou_huaban:before {
  content: "\e63e";
}

.icon-jingtoufanzhuan:before {
  content: "\e621";
}

.icon-earth:before {
  content: "\e7ea";
}

.icon-mobilephone:before {
  content: "\e70f";
}

.icon-Settingscontroloptions:before {
  content: "\e9cb";
}

.icon-guanbi:before {
  content: "\e61a";
}

.icon-toujianli:before {
  content: "\e612";
}

.icon-xuritu:before {
  content: "\e61b";
}

.icon-leidatu:before {
  content: "\e8bd";
}

.icon-pailie-kuai:before {
  content: "\e64f";
}

.icon-shuju:before {
  content: "\e639";
}

.icon-zujian_yemianmoban_1:before {
  content: "\e784";
}

