@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-size: 13.33333333333333vw;
}

@media only screen and (max-width: 320px) {
  html{
    font-size: 29px;
  }
}

@media only screen and (min-width: 540px) {
  html{
    font-size: 50px;
  }
}
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #0c1022;
}